div{
    position: relative;
    display: inline-block;
    padding-top: 50px;
    box-sizing: border-box;
}
div p{
    visibility: hidden;
    position: absolute;
    left: 0;
    /* z-index: -1; */
}

div:hover p{
    visibility: visible;
    z-index: 1;
}